In [1]:
# Reading the covid-19 dataset
import pandas as pd
confirmed_cases = pd.read_csv('../../../../data/stage_2/covid_confirmed_usafacts.csv')
confirmed_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,7694,7694,7788,7818,7854,7890,7931,7931,7931,8061
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,26822,26822,27477,27736,28020,28358,28629,28629,28629,29234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2585,2585,2629,2649,2681,2699,2732,2732,2732,2761
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2973,2973,3016,3034,3056,3069,3095,3095,3095,3129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,5056,5056,5056,5090,5090,5108,5114,5127,5127,5127
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,3960,3960,3960,4003,4003,4014,4044,4068,4068,4068
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,2498,2498,2498,2538,2538,2543,2559,2593,2593,2593
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,950,950,950,958,958,960,968,967,967,967
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,694,694,694,699,699,700,700,705,705,705

In [2]:
state_wise_data = confirmed_cases[confirmed_cases["State"] == "NC"]
state_wise_data

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
1923,0,Statewide Unallocated,NC,37,0,0,0,0,0,0,...,11,11,118,11,11,11,108,108,108,11
1924,37001,Alamance County,NC,37,0,0,0,0,0,0,...,19697,19697,19906,19945,20012,20079,20202,20202,20202,20380
1925,37003,Alexander County,NC,37,0,0,0,0,0,0,...,4652,4652,4728,4741,4764,4794,4812,4812,4812,4869
1926,37005,Alleghany County,NC,37,0,0,0,0,0,0,...,1117,1117,1127,1132,1132,1134,1138,1138,1138,1143
1927,37007,Anson County,NC,37,0,0,0,0,0,0,...,2747,2747,2788,2789,2794,2802,2815,2815,2815,2847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,37191,Wayne County,NC,37,0,0,0,0,0,0,...,12065,12065,12197,12222,12260,12326,12372,12372,12372,12491
2020,37193,Wilkes County,NC,37,0,0,0,0,0,0,...,7373,7373,7488,7528,7558,7643,7702,7702,7702,7813
2021,37195,Wilson County,NC,37,0,0,0,0,0,0,...,10222,10222,10324,10343,10357,10396,10427,10427,10427,10502
2022,37197,Yadkin County,NC,37,0,0,0,0,0,0,...,4369,4369,4401,4418,4437,4462,4482,4482,4482,4541
2023,37199,Yancey County,NC,37,0,0,0,0,0,0,...,1783,1783,1792,1801,1835,1864,1868,1868,1868,1945

In [3]:
#Resetting the index to below columns so that they don't get summed up
refined_data = state_wise_data.set_index(['countyFIPS','County Name','State','StateFIPS'])
refined_data

,,,,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
countyFIPS,County Name,State,StateFIPS,,,,,,,,,,,,,,,,,,,,,
0,Statewide Unallocated,NC,37,0,0,0,0,0,0,0,0,0,0,...,11,11,118,11,11,11,108,108,108,11
37001,Alamance County,NC,37,0,0,0,0,0,0,0,0,0,0,...,19697,19697,19906,19945,20012,20079,20202,20202,20202,20380
37003,Alexander County,NC,37,0,0,0,0,0,0,0,0,0,0,...,4652,4652,4728,4741,4764,4794,4812,4812,4812,4869
37005,Alleghany County,NC,37,0,0,0,0,0,0,0,0,0,0,...,1117,1117,1127,1132,1132,1134,1138,1138,1138,1143
37007,Anson County,NC,37,0,0,0,0,0,0,0,0,0,0,...,2747,2747,2788,2789,2794,2802,2815,2815,2815,2847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37191,Wayne County,NC,37,0,0,0,0,0,0,0,0,0,0,...,12065,12065,12197,12222,12260,12326,12372,12372,12372,12491
37193,Wilkes County,NC,37,0,0,0,0,0,0,0,0,0,0,...,7373,7373,7488,7528,7558,7643,7702,7702,7702,7813
37195,Wilson County,NC,37,0,0,0,0,0,0,0,0,0,0,...,10222,10222,10324,10343,10357,10396,10427,10427,10427,10502
37197,Yadkin County,NC,37,0,0,0,0,0,0,0,0,0,0,...,4369,4369,4401,4418,4437,4462,4482,4482,4482,4541
37199,Yancey County,NC,37,0,0,0,0,0,0,0,0,0,0,...,1783,1783,1792,1801,1835,1864,1868,1868,1868,1945

In [4]:
import math
number_of_weeks = math.floor(len(refined_data.columns)/7)
number_of_weeks

81

## Number of cases per day

In [5]:
# sum up the column values to get the total number of cases for the particular day and calculate difference to get new cases per day
covid_cases_summed = refined_data.sum(axis = 0, skipna = True)
new_covid_dataframe = pd.DataFrame(columns=refined_data.columns)
new_covid_dataframe = new_covid_dataframe.append(covid_cases_summed, ignore_index=True)
new_covid_dataframe

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
0,0,0,0,0,0,0,0,0,0,0,...,1071145,1071145,1086938,1089934,1094897,1100786,1107414,1107414,1107414,1122413

In [6]:
new_covid_dataframe = new_covid_dataframe.diff(axis=1)

In [7]:
new_covid_dataframe =new_covid_dataframe.drop(['2020-01-22'], axis=1)
new_covid_dataframe

,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
0,0,0,0,0,0,0,0,0,0,0,...,0,0,15793,2996,4963,5889,6628,0,0,14999

In [8]:
import math
number_of_weeks = math.floor(len(new_covid_dataframe.columns)/7)
def calculate_mean_median_mode(dataset,action):
    weekly_data = []
    i=0
    counter=7
    x=0
    while (x<number_of_weeks):
        if(action == "mean"):
            batch = dataset.iloc[:,i:counter].mean(axis=1).astype(int)
        i = i+7
        counter = counter+7
        x = x+1
        weekly_data.append(batch)
    return weekly_data

In [9]:
IS_AVG = "mean"
avg_data = calculate_mean_median_mode(new_covid_dataframe,IS_AVG)
avg_cases_weekly = pd.concat(avg_data, axis=1)
avg_cases_weekly

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,0,0,0,0,0,0,2,6,61,155,...,471,388,290,304,367,653,1042,1925,2955,4655

## Average number of cases every week

In [10]:
round(avg_cases_weekly.mean(axis=1)).astype(int)

0    1931
dtype: int32

## Median of weekly cases

In [11]:
round(avg_cases_weekly.median(axis=1)).astype(int)

0    1544
dtype: int32

## Mode for weekly cases

In [12]:
round(avg_cases_weekly.mode(axis=1)).astype(int)

   0
0  0

## Covid 19 Death cases weekly Analysis

In [13]:
# Follow the same procedure as above with death dataset
death_cases = pd.read_csv('../../../../data/stage_2/covid_deaths_usafacts.csv')
death_cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,114,114
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,330,330,330,332,338,342,344,344,344,347
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,63,63,63,63,64,64,65,65,65,65
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,66,66,66,66,67,67,67,67,67,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,45,45
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,14,14
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6

In [14]:
state_wise_data_death = death_cases[confirmed_cases["State"] == "NC"]
state_wise_data_death

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
1923,0,Statewide Unallocated,NC,37,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1924,37001,Alamance County,NC,37,0,0,0,0,0,0,...,288,288,289,289,289,289,289,289,289,289
1925,37003,Alexander County,NC,37,0,0,0,0,0,0,...,85,85,85,85,85,85,85,85,85,85
1926,37005,Alleghany County,NC,37,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
1927,37007,Anson County,NC,37,0,0,0,0,0,0,...,57,57,56,56,57,57,57,57,57,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,37191,Wayne County,NC,37,0,0,0,0,0,0,...,245,245,247,247,247,247,247,247,247,247
2020,37193,Wilkes County,NC,37,0,0,0,0,0,0,...,117,117,117,118,119,119,119,119,119,119
2021,37195,Wilson County,NC,37,0,0,0,0,0,0,...,184,184,186,186,186,186,186,186,186,186
2022,37197,Yadkin County,NC,37,0,0,0,0,0,0,...,56,56,56,56,56,56,56,56,56,56
2023,37199,Yancey County,NC,37,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28

In [15]:
#Resetting the index to below columns so that they don't get summed up
refined_data_death = state_wise_data_death.set_index(['countyFIPS','County Name','State','StateFIPS'])
refined_data_death

,,,,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
countyFIPS,County Name,State,StateFIPS,,,,,,,,,,,,,,,,,,,,,
0,Statewide Unallocated,NC,37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37001,Alamance County,NC,37,0,0,0,0,0,0,0,0,0,0,...,288,288,289,289,289,289,289,289,289,289
37003,Alexander County,NC,37,0,0,0,0,0,0,0,0,0,0,...,85,85,85,85,85,85,85,85,85,85
37005,Alleghany County,NC,37,0,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
37007,Anson County,NC,37,0,0,0,0,0,0,0,0,0,0,...,57,57,56,56,57,57,57,57,57,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37191,Wayne County,NC,37,0,0,0,0,0,0,0,0,0,0,...,245,245,247,247,247,247,247,247,247,247
37193,Wilkes County,NC,37,0,0,0,0,0,0,0,0,0,0,...,117,117,117,118,119,119,119,119,119,119
37195,Wilson County,NC,37,0,0,0,0,0,0,0,0,0,0,...,184,184,186,186,186,186,186,186,186,186
37197,Yadkin County,NC,37,0,0,0,0,0,0,0,0,0,0,...,56,56,56,56,56,56,56,56,56,56
37199,Yancey County,NC,37,0,0,0,0,0,0,0,0,0,0,...,28,28,28,28,28,28,28,28,28,28

In [16]:
# sum up the column values to get the total number of cases for the particular day and calculate difference to get new cases per day
covid_death_summed = refined_data_death.sum(axis = 0, skipna = True)
death_df = pd.DataFrame(columns=refined_data_death.columns)
death_df = death_df.append(covid_death_summed, ignore_index=True)
# Finding new cases everyday
death_df = death_df.diff(axis=1)
#dropping Nan value
death_df =death_df.drop(['2020-01-22'], axis=1)
death_df

,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,2020-02-01,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
0,0,0,0,0,0,0,0,0,0,0,...,0,0,23,9,22,16,20,0,0,54

In [17]:
avg_data_death = calculate_mean_median_mode(death_df,IS_AVG)
death_weekly = pd.concat(avg_data_death, axis=1)
death_weekly

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,0,0,0,0,0,0,0,0,0,1,...,17,12,11,6,3,7,5,8,13,12

In [18]:
round(death_weekly.mean(axis=1)).astype(int)

0    24
dtype: int32

In [19]:
round(death_weekly.median(axis=1)).astype(int)

0    17
dtype: int32

In [20]:
round(death_weekly.mode(axis=1)).astype(int)

   0
0  0

## Compare the data against other States (Normalize by population)

In [195]:
# To normalize the data by population, we need total population of the state
population_dataset = pd.read_csv('../../../../data/stage_2/covid_county_population_usafacts.csv')
population_df = pd.DataFrame(population_dataset)
population_df

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [196]:
#reshaping the data to long format
reshaped_covid_cases = confirmed_cases.melt(id_vars=['countyFIPS', 'County Name', 'State', 'StateFIPS'],  var_name='Date', value_name='Covid_cases')
reshaped_covid_cases['Date'] = pd.to_datetime(reshaped_covid_cases['Date'])
reshaped_covid_cases

,countyFIPS,County Name,State,StateFIPS,Date,Covid_cases
0,0,Statewide Unallocated,AL,1,2020-01-22,0
1,1001,Autauga County,AL,1,2020-01-22,0
2,1003,Baldwin County,AL,1,2020-01-22,0
3,1005,Barbour County,AL,1,2020-01-22,0
4,1007,Bibb County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
1829584,56037,Sweetwater County,WY,56,2021-08-16,5127
1829585,56039,Teton County,WY,56,2021-08-16,4068
1829586,56041,Uinta County,WY,56,2021-08-16,2593
1829587,56043,Washakie County,WY,56,2021-08-16,967
1829588,56045,Weston County,WY,56,2021-08-16,705

In [197]:
reshaped_covid_cases = reshaped_covid_cases[reshaped_covid_cases['County Name'] != 'Statewide Unallocated'].reset_index(drop=True)

In [198]:
reshaped_covid_cases

,countyFIPS,County Name,State,StateFIPS,Date,Covid_cases
0,1001,Autauga County,AL,1,2020-01-22,0
1,1003,Baldwin County,AL,1,2020-01-22,0
2,1005,Barbour County,AL,1,2020-01-22,0
3,1007,Bibb County,AL,1,2020-01-22,0
4,1009,Blount County,AL,1,2020-01-22,0
...,...,...,...,...,...,...
1800361,56037,Sweetwater County,WY,56,2021-08-16,5127
1800362,56039,Teton County,WY,56,2021-08-16,4068
1800363,56041,Uinta County,WY,56,2021-08-16,2593
1800364,56043,Washakie County,WY,56,2021-08-16,967
1800365,56045,Weston County,WY,56,2021-08-16,705

In [199]:
pop_cases = pd.merge(reshaped_covid_cases,population_dataset, on ="countyFIPS",how="inner")
pop_cases = pop_cases.drop(columns=['County Name_y','State_y'])
pop_cases['Date'] = pd.to_datetime(pop_cases['Date'])
pop_cases.dtypes

countyFIPS                int64
County Name_x            object
State_x                  object
StateFIPS                 int64
Date             datetime64[ns]
Covid_cases               int64
population                int64
dtype: object

In [200]:
pop_cases = pop_cases.groupby(['State_x', 'County Name_x', 'Date', 'population'],as_index=False).agg({'Covid_cases': 'sum'})
pop_cases['Covid_cases'] = pop_cases['Covid_cases'].diff()
pop_cases =pop_cases.drop([0])
pop_cases

        State_x            County Name_x       Date  population  Covid_cases
1            AK  Aleutians East Borough  2020-01-23        3337          0.0
2            AK  Aleutians East Borough  2020-01-24        3337          0.0
3            AK  Aleutians East Borough  2020-01-25        3337          0.0
4            AK  Aleutians East Borough  2020-01-26        3337          0.0
5            AK  Aleutians East Borough  2020-01-27        3337          0.0
...         ...                      ...        ...         ...          ...
1800361      WY           Weston County  2021-08-12        6927          1.0
1800362      WY           Weston County  2021-08-13        6927          0.0
1800363      WY           Weston County  2021-08-14        6927          5.0
1800364      WY           Weston County  2021-08-15        6927          0.0
1800365      WY           Weston County  2021-08-16        6927          0.0

[1800365 rows x 5 columns]

In [201]:
cases_by_states = pop_cases.groupby(['State_x','Date']).agg({'Covid_cases':'sum','population':'sum'}).reset_index()
cases_by_states

      State_x       Date  Covid_cases  population
0          AK 2020-01-22     -78624.0      728208
1          AK 2020-01-23          0.0      731545
2          AK 2020-01-24          0.0      731545
3          AK 2020-01-25          0.0      731545
4          AK 2020-01-26          0.0      731545
...       ...        ...          ...         ...
29218      WY 2021-08-12        256.0      578759
29219      WY 2021-08-13        374.0      578759
29220      WY 2021-08-14        316.0      578759
29221      WY 2021-08-15          0.0      578759
29222      WY 2021-08-16          0.0      578759

[29223 rows x 4 columns]

In [202]:
cases_by_states['Normalized_cases'] = round(cases_by_states['Covid_cases']/cases_by_states['population']*100000)
cases_by_states = cases_by_states.drop([0])
cases_by_states

      State_x       Date  Covid_cases  population  Normalized_cases
1          AK 2020-01-23          0.0      731545               0.0
2          AK 2020-01-24          0.0      731545               0.0
3          AK 2020-01-25          0.0      731545               0.0
4          AK 2020-01-26          0.0      731545               0.0
5          AK 2020-01-27          0.0      731545               0.0
...       ...        ...          ...         ...               ...
29218      WY 2021-08-12        256.0      578759              44.0
29219      WY 2021-08-13        374.0      578759              65.0
29220      WY 2021-08-14        316.0      578759              55.0
29221      WY 2021-08-15          0.0      578759               0.0
29222      WY 2021-08-16          0.0      578759               0.0

[29222 rows x 5 columns]

In [203]:
cases_by_states['Date'] = pd.to_datetime(cases_by_states['Date'])
cases_by_states.dtypes

State_x                     object
Date                datetime64[ns]
Covid_cases                float64
population                   int64
Normalized_cases           float64
dtype: object

In [204]:
from datetime import datetime

cases_by_states['Date'] = cases_by_states['Date'].dt.strftime('%Y-%m-%d')
cases_by_states['Date'] = cases_by_states.Date.apply(lambda d: datetime.strptime(d, '%Y-%m-%d'))
cases_by_states = cases_by_states.groupby(['State_x', 'population', pd.Grouper(key='Date', freq='w')]).mean().reset_index().round(decimals=0)
cases_by_states

     State_x  population       Date  Covid_cases  Normalized_cases
0         AK      731545 2020-01-26          0.0               0.0
1         AK      731545 2020-02-02          0.0               0.0
2         AK      731545 2020-02-09          0.0               0.0
3         AK      731545 2020-02-16          0.0               0.0
4         AK      731545 2020-02-23          0.0               0.0
...      ...         ...        ...          ...               ...
4228      WY      578759 2021-07-25        104.0              18.0
4229      WY      578759 2021-08-01        125.0              22.0
4230      WY      578759 2021-08-08        189.0              33.0
4231      WY      578759 2021-08-15        260.0              45.0
4232      WY      578759 2021-08-22          0.0               0.0

[4233 rows x 5 columns]

In [205]:
NC_week_data = cases_by_states[cases_by_states['State_x'] =='NC']
NC_week_data = NC_week_data.drop([2241])
print('Mean for NC:',round(NC_week_data['Normalized_cases'].mean()))
print('Median for NC:',round(NC_week_data['Normalized_cases'].median()))
print('Mode for NC:',round(NC_week_data['Normalized_cases'].mode()))

Mean for NC: 20
Median for NC: 14
Mode for NC: 0    0.0
dtype: float64

In [83]:
AL_week_data = weekly_data_norm[weekly_data_norm['State_x'] =='AL']
AL_week_data
print('Mean for AL:', AL_week_data['new_cases'].mean())
print('Median for AL:',AL_week_data['new_cases'].median())
print('Mode for AL:',AL_week_data['new_cases'].mode()[0])

Mean for AL -23598.433734939757
Median for AL 8668.0
Mode for AL 0.0

In [84]:
AR_week_data = weekly_data_norm[weekly_data_norm['State_x'] =='AR']
print('Mean for AR:',AR_week_data['new_cases'].mean())
print('Median for AR:',AR_week_data['new_cases'].median())
print('Mode for AR:',AR_week_data['new_cases'].mode()[0])

Mean for AR -14916.783132530121
Median for AR 8404.0
Mode for AR 0.0

In [85]:
NY_week_data = weekly_data_norm[weekly_data_norm['State_x'] =='NY']
print('Mean for NY:',NY_week_data['new_cases'].mean())
print('Median for NY:',NY_week_data['new_cases'].median())
print('Mode for NY:',NY_week_data['new_cases'].mode())

Mean for NY -31836.734939759037
Median for NY 3170.0
Mode for NY 0    0.0
dtype: float64

In [86]:
CA_week_data = weekly_data_norm[weekly_data_norm['State_x'] =='CA']
print('Mean for CA:',CA_week_data['new_cases'].mean())
print('Median for CA:',CA_week_data['new_cases'].median())
print('Mode for CA:',CA_week_data['new_cases'].mode())

Mean for CA -147158.73493975904
Median for CA 2795.0
Mode for CA 0    0.0
dtype: float64

In [87]:
WA_week_data = weekly_data_norm[weekly_data_norm['State_x'] =='WA']
print('Mean for WA:',WA_week_data['new_cases'].mean())
print('Median for WA:',WA_week_data['new_cases'].median())
print('Mode for WA:',WA_week_data['new_cases'].mode())

Mean for WA -28372.072289156626
Median for WA 2684.0
Mode for WA 0    0.0
dtype: float64

In [88]:
VA_week_data = weekly_data_norm[weekly_data_norm['State_x'] =='VA']
print('Mean for VA:',VA_week_data['new_cases'].mean())
print('Median for VA:',VA_week_data['new_cases'].median())
print('Mode for VA:',VA_week_data['new_cases'].mode())

Mean for VA -30583.602409638555
Median for VA 11029.0
Mode for VA 0    0.0
dtype: float64

In [223]:
#reshaping the data to long format
reshaped_death_cases = death_cases.melt(id_vars=['countyFIPS', 'County Name', 'State', 'StateFIPS'],  var_name='Date', value_name='death_cases')
reshaped_death_cases['Date'] = pd.to_datetime(reshaped_death_cases['Date'])
reshaped_death_cases.dtypes

countyFIPS              int64
County Name            object
State                  object
StateFIPS               int64
Date           datetime64[ns]
death_cases             int64
dtype: object

In [224]:
reshaped_death_cases = reshaped_death_cases[reshaped_death_cases['County Name'] != 'Statewide Unallocated'].reset_index(drop=True)

In [225]:
pop_deaths = pd.merge(reshaped_death_cases,population_dataset, on='countyFIPS',how="inner")
pop_deaths

,countyFIPS,County Name_x,State_x,StateFIPS,Date,death_cases,County Name_y,State_y,population
0,1001,Autauga County,AL,1,2020-01-22,0,Autauga County,AL,55869
1,1001,Autauga County,AL,1,2020-01-23,0,Autauga County,AL,55869
2,1001,Autauga County,AL,1,2020-01-24,0,Autauga County,AL,55869
3,1001,Autauga County,AL,1,2020-01-25,0,Autauga County,AL,55869
4,1001,Autauga County,AL,1,2020-01-26,0,Autauga County,AL,55869
...,...,...,...,...,...,...,...,...,...
1800361,56045,Weston County,WY,56,2021-08-12,6,Weston County,WY,6927
1800362,56045,Weston County,WY,56,2021-08-13,6,Weston County,WY,6927
1800363,56045,Weston County,WY,56,2021-08-14,6,Weston County,WY,6927
1800364,56045,Weston County,WY,56,2021-08-15,6,Weston County,WY,6927
1800365,56045,Weston County,WY,56,2021-08-16,6,Weston County,WY,6927

In [226]:
pop_deaths = pop_deaths.groupby(['State_x', 'County Name_x', 'Date', 'population'],as_index=False).agg({'death_cases': 'sum'})
pop_deaths['new_deaths'] = pop_deaths['death_cases'].diff()
pop_deaths =pop_deaths.drop([0])
pop_deaths

,State_x,County Name_x,Date,population,death_cases,new_deaths
1,AK,Aleutians East Borough,2020-01-23,3337,0,0.0
2,AK,Aleutians East Borough,2020-01-24,3337,0,0.0
3,AK,Aleutians East Borough,2020-01-25,3337,0,0.0
4,AK,Aleutians East Borough,2020-01-26,3337,0,0.0
5,AK,Aleutians East Borough,2020-01-27,3337,0,0.0
...,...,...,...,...,...,...
1800361,WY,Weston County,2021-08-12,6927,6,0.0
1800362,WY,Weston County,2021-08-13,6927,6,0.0
1800363,WY,Weston County,2021-08-14,6927,6,0.0
1800364,WY,Weston County,2021-08-15,6927,6,0.0
1800365,WY,Weston County,2021-08-16,6927,6,0.0

In [234]:
death_by_states = pop_deaths.groupby(['State_x','Date']).agg({'death_cases':'sum','new_deaths':'sum','population':'sum'}).reset_index()
death_by_states = death_by_states.drop([0])
print(death_by_states)

      State_x       Date  death_cases  new_deaths  population
1          AK 2020-01-23            0         0.0      731545
2          AK 2020-01-24            0         0.0      731545
3          AK 2020-01-25            0         0.0      731545
4          AK 2020-01-26            0         0.0      731545
5          AK 2020-01-27            0         0.0      731545
...       ...        ...          ...         ...         ...
29218      WY 2021-08-12          793         0.0      578759
29219      WY 2021-08-13          793         0.0      578759
29220      WY 2021-08-14          793         0.0      578759
29221      WY 2021-08-15          793         0.0      578759
29222      WY 2021-08-16          793         0.0      578759

[29222 rows x 5 columns]

In [235]:
death_by_states['Normalized_death_cases'] = round(death_by_states['new_deaths']/death_by_states['population']*100000)
print(death_by_states)

      State_x       Date  death_cases  new_deaths  population  \
1          AK 2020-01-23            0         0.0      731545
2          AK 2020-01-24            0         0.0      731545
3          AK 2020-01-25            0         0.0      731545
4          AK 2020-01-26            0         0.0      731545
5          AK 2020-01-27            0         0.0      731545
...       ...        ...          ...         ...         ...
29218      WY 2021-08-12          793         0.0      578759
29219      WY 2021-08-13          793         0.0      578759
29220      WY 2021-08-14          793         0.0      578759
29221      WY 2021-08-15          793         0.0      578759
29222      WY 2021-08-16          793         0.0      578759

       Normalized_death_cases
1                         0.0
2                         0.0
3                         0.0
4                         0.0
5                         0.0
...                       ...
29218                     0.0
29219                     0.0
29220                     0.0
29221                     0.0
29222                     0.0

[29222 rows x 6 columns]

In [238]:
death_by_states = death_by_states.groupby("State_x")["new_deaths"].agg(["mean"]).reset_index().round(decimals=0)
death_by_states

   State_x  mean
0       AK   1.0
1       AL  -8.0
2       AR  -4.0
3       AZ -10.0
4       CA -45.0
5       CO  -5.0
6       CT  -5.0
7       DC   2.0
8       DE  -3.0
9       FL -27.0
10      GA -14.0
11      HI  -0.0
12      IA  -4.0
13      ID  -2.0
14      IL -17.0
15      IN -10.0
16      KS  -3.0
17      KY  -6.0
18      LA  -7.0
19      MA  -7.0
20      MD -12.0
21      ME  -1.0
22      MI -15.0
23      MN  -5.0
24      MO  -7.0
25      MS  -5.0
26      MT  -1.0
27      NC -10.0
28      ND  -1.0
29      NE  -2.0
30      NH  -1.0
31      NJ -18.0
32      NM  -3.0
33      NV  -4.0
34      NY -36.0
35      OH -14.0
36      OK  -5.0
37      OR  -2.0
38      PA -17.0
39      RI  -4.0
40      SC  -6.0
41      SD  -2.0
42      TN  -8.0
43      TX -37.0
44      UT  -1.0
45      VA  -8.0
46      VT  -0.0
47      WA  -3.0
48      WI  -6.0
49      WV  -2.0
50      WY  -1.0

In [236]:
death_by_states['Date'] = death_by_states['Date'].dt.strftime('%Y-%m-%d')
death_by_states['Date'] = death_by_states.Date.apply(lambda d: datetime.strptime(d, '%Y-%m-%d'))
death_by_states = death_by_states.groupby(['State_x', 'population', pd.Grouper(key='Date', freq='w')]).mean().reset_index().round(decimals=0)
print(death_by_states)

     State_x  population       Date  death_cases  new_deaths  \
0         AK      731545 2020-01-26          0.0         0.0
1         AK      731545 2020-02-02          0.0         0.0
2         AK      731545 2020-02-09          0.0         0.0
3         AK      731545 2020-02-16          0.0         0.0
4         AK      731545 2020-02-23          0.0         0.0
...      ...         ...        ...          ...         ...
4228      WY      578759 2021-07-25        765.0         1.0
4229      WY      578759 2021-08-01        773.0         1.0
4230      WY      578759 2021-08-08        785.0         1.0
4231      WY      578759 2021-08-15        792.0         1.0
4232      WY      578759 2021-08-22        793.0         0.0

      Normalized_death_cases
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
...                      ...
4228                     0.0
4229                     0.0
4230                     0.0
4231                     0.0
4232                     0.0

[4233 rows x 6 columns]

In [237]:
NC_weekly_death = death_by_states[death_by_states['State_x'] =='NC']
NC_weekly_death
NC_weekly_death = NC_weekly_death.drop([2242])
print('Mean for NC:',round(NC_weekly_death['Normalized_death_cases'].mean()))
print('Median for NC:',round(NC_weekly_death['Normalized_death_cases'].median()))
print('Mode for NC:',round(NC_weekly_death['Normalized_death_cases'].mode()))
NC_weekly_death

Mean for NC: 0
Median for NC: 0
Mode for NC: 0    0.0
dtype: float64

,State_x,population,Date,death_cases,new_deaths,Normalized_death_cases
2241,NC,10488084,2020-01-26,0.0,-2827.0,-27.0
2243,NC,10488084,2020-02-09,0.0,0.0,0.0
2244,NC,10488084,2020-02-16,0.0,0.0,0.0
2245,NC,10488084,2020-02-23,0.0,0.0,0.0
2246,NC,10488084,2020-03-01,0.0,0.0,0.0
...,...,...,...,...,...,...
2319,NC,10488084,2021-07-25,13557.0,7.0,0.0
2320,NC,10488084,2021-08-01,13614.0,9.0,0.0
2321,NC,10488084,2021-08-08,13717.0,14.0,0.0
2322,NC,10488084,2021-08-15,13800.0,13.0,0.0
2323,NC,10488084,2021-08-22,13880.0,54.0,1.0

## Identifying counties within previous state with high case and death rates

In [243]:
chose_high_case = cases_by_states[cases_by_states['State_x'] == 'NC']
chose_high_case

     State_x  population       Date  Covid_cases  Normalized_cases
2241      NC    10488084 2020-01-26    -227904.0           -2173.0
2242      NC    10488084 2020-02-02          0.0               0.0
2243      NC    10488084 2020-02-09          0.0               0.0
2244      NC    10488084 2020-02-16          0.0               0.0
2245      NC    10488084 2020-02-23          0.0               0.0
...      ...         ...        ...          ...               ...
2319      NC    10488084 2021-07-25       1293.0              12.0
2320      NC    10488084 2021-08-01       2307.0              22.0
2321      NC    10488084 2021-08-08       3294.0              31.0
2322      NC    10488084 2021-08-15       5167.0              49.0
2323      NC    10488084 2021-08-22      15096.0             144.0

[83 rows x 5 columns]